// Colors
$blue: #23b7fb;
$purple: #4e2b63;
$yellow: #fed100;

// Greys
$grey1: #222;
$grey2: #333;
$grey3: #555;
$grey4: #eee;

body {
  background: $blue;
}

.header {
  background: $grey1;
}

.sidebar {
  background: $grey2;
  width: 20%;
  float: left;
}

.main {
  width: 80%;
  float: left;
}

.footer {
  width: 100%;
  clear: both;
  background: $grey3;
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 500;
  src: url("../fonts/ProximaNova-Regular.otf");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 600;
  src: url("../fonts/ProximaNova-Sbold.otf");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 700;
  src: url("../fonts/ProximaNova-Bold.otf");
}

@font-face {
  font-family: "Engineer";
  font-weight: 500;
  src: url("../fonts/LEngineer-Regular.otf");
}

h1,
h2,
h3,
h4,
p {
  font-family: "Proxima Nova";
  color: #fff;
}

h1 {
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-weight: 600;
}

h3,
h4,
p {
  font-weight: 500;
}

.hand-written {
  font-family: "Engineer";
  font-weight: 500;
}
