// Colors
$blue: #23b7fb;
$purple: #4e2b63;
$yellow: #fed100;

// Greys
$grey1: #222;
$grey2: #333;
$grey3: #555;
$grey4: #eee;

.bg-grey1 {
  background: $grey1;
}

.bg-grey2 {
  background: $grey2;
}

.bg-grey3 {
  background: $grey3;
}

.bg-grey4 {
  background: $grey4;
}
